<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <h2 id="blog-title-footer" class="footer-heading">{{ site.title | escape }}</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-2">
          <p>{{- site.description | escape -}}</p>
        </div>

        <div class="footer-col footer-col-1">
          {%- include social.html -%}
        </div>
  
        <div class="footer-col footer-col-3">
          <span>Subscribe to be notified of new posts:</span>
          <script async data-uid="d9e1c7abee" src="https://onwardsgames.ck.page/d9e1c7abee/index.js"></script>
        </div>
      </div>
  
    </div>
  
  </footer>