<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.url }}/favicons/site.webmanifest">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RBRJL38HZL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RBRJL38HZL');
    </script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ "/assets/scripts/blog_name_gen.js" | relative_url }}"></script>
    
    <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
</head>