---
layout: default
comments: true
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y.%m.%d" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        — <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <br><hr><br>

  <div>
    {% assign commentField = 'site.data.comments.' | append: page.slug }
    {% assign comments = {{ commentField }} %}
    {% assign commentsCount = comments | size %}

    <h3>Comments
      {% if commentsCount > 0 %}
        <ul>
          {% for comment in comments %}
          <li>
            <p><b>{{ comment.name | escape  }}</b> on <i>{{ comment.date | date: '%Y.%m.%d' }}</i></p>
            {% if comment.message %}
            <p>
              {{comment.message | escape }}
            </p>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      {% else %}
      <p>No comments.</p>
      {% endif %}
    </h3>
  </div>

  <br><hr><br>

  <!-- <form method="POST"
    action="https://onwards-games-staticman-5843657dd789.herokuapp.com/v3/entry/github/guipaz/guipaz.github.io/main/comments">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="fields[url]" type="hidden" value="{{ page.slug }}">
    <h4>Comment!</h4>
    <p><label>Name: <input class="comment-input" type="text" name="fields[name]" /></label></p>
    <p><label>E-mail: <input class="comment-input" type="text" name="fields[email]" /></label></p>
    <p><label>Comment: <input class="comment-input" type="text" name="fields[message]" /></label></p>
    <sub>Note: Comments take a few minutes to go online</sub>
    <p><button class="comment-button" type="submit">Submit</button></p>
  </form> -->

  <div data-v-41e980de="" class="formkit-outer" data-family="text" data-type="text" data-empty="true" data-invalid="true">
    <div class="formkit-wrapper">
      <div class="formkit-inner">
        <input placeholder="Your name" class="formkit-input" type="text" name="Name" id="input_0" aria-describedby="input_0-rule_required">
      </div>
    </div>
    <ul class="formkit-messages">
      <li class="formkit-message" id="input_0-rule_required" data-message-type="validation">Name is required.</li>
    </ul>
  </div>
  <div data-v-41e980de="" class="formkit-outer" data-family="text" data-type="email" data-empty="true" data-invalid="true">
    <div class="formkit-wrapper">
      <div class="formkit-inner">
        <input placeholder="your@email.com" class="formkit-input" type="email" name="E-mail" id="input_1" aria-describedby="input_1-rule_required">
      </div>
    </div>
    <ul class="formkit-messages">
      <li class="formkit-message" id="input_1-rule_required" data-message-type="validation">E-mail is required.</li>
    </ul>
  </div>
  <div data-v-41e980de="" class="formkit-outer" data-type="textarea" data-empty="true" data-invalid="true">
    <div class="formkit-wrapper">
      <div class="formkit-inner">
        <textarea placeholder="Your comment" class="formkit-input" name="Message" id="input_2" aria-describedby="input_2-rule_required"></textarea>
      </div>
    </div>
    <ul class="formkit-messages">
      <li class="formkit-message" id="input_2-rule_required" data-message-type="validation">Message is required.</li>
    </ul>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>